$text1: #616161;
$text2: #333333;
$blue:  #00aeef;

@mixin f600 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

@mixin f700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

@mixin f800 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

@mixin main {
  background: linear-gradient(
    45deg,
    rgb(49, 170, 226) 0%,
    rgb(157, 53, 192) 100%
  );
}
